/* =====================
        共通設定
===================== */

:root {
    --main-color: #243b53;
    --main-color-hover: #334e68;
    --background-color: #f5f7fa;
    --border-color: #d1d5db;
    --card-color: #ffffff;

    --radius-small: 4px;
    --radius-medium: 6px;

    --shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}


/* =====================
        レイアウト
===================== */

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--background-color);
    font-family:
        "Noto Sans JP",
        sans-serif;
}

.login-container {
    width: 90%;
    max-width: 420px;
    padding: 55px 40px 45px;
    background-color: 
        var(--card-color);
    border-radius: 
        var(--radius-medium);
    box-shadow: 
        var(--shadow);
}
.logo-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.login-logo {
    width: 100px;
    flex-shrink: 0;
}
.logo-text{
    width:260px;
    text-align:left;
}
.logo-text h1 {
    margin: 0;
    font-size: 34px;
    line-height: 1.1;
    color: #243b53;
    margin-left: 0;
}
.logo-text p {
    margin: 2px 0 0;
    font-size: 14px;
    color: #666;
    margin: 2px 0 0;
}


/* =====================
        入力フォーム
===================== */

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border:1px solid 
        var(--border-color);
    border-radius:
        var(--radius-small);
    box-sizing: border-box;
}


/* =====================
        ボタン
===================== */

.login-button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius:
        var(--radius-small);
    background-color:
        var(--main-color);
    color: #fff;
    cursor: pointer;
    transition:
        background-color 0.2s;
}


.login-button:hover {
    background-color:
        var(--main-color-hover);
}


.login-button:focus {
    outline:2px solid 
        var(--main-color-hover);
    outline-offset: 2px;
}